* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
* .hero-section {
  width: 100%;
  height: 100vh;
  background-image: url("./assets/images/bg-masthead.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .hero-section .hero-container {
  min-height: 300px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
* .hero-section .hero-container h1 {
  font-size: 5.5rem;
  margin-bottom: 4px;
}
* .hero-section .hero-container h3 {
  font-size: 1.75rem;
  margin-bottom: 48px;
}
* .hero-section .hero-container button {
  width: 180px;
  height: 70px;
  padding: 20px 40px;
  background-color: #1d809f;
  color: white;
  border: none;
  border-radius: 5px;
}
* .info-section {
  width: 100%;
  min-height: 200px;
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .info-section .info-container {
  margin: 0px 44px;
  text-align: center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
* .info-section .info-container h2 {
  font-size: 32px;
  margin-bottom: 8px;
}
* .info-section .info-container p {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 48px;
}
* .info-section .info-container p span {
  text-decoration: underline #1d809f;
}
* .info-section .info-container button {
  width: 180px;
  height: 70px;
  padding: 20px 40px;
  color: white;
  background-color: black;
  border: none;
  border-radius: 5px;
}
* .services-section {
  width: 100%;
  min-height: 200px;
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d809f;
}
* .services-section .services-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
* .services-section .services-container h4 {
  font-size: 16px;
  color: #ecb807;
}
* .services-section .services-container h1 {
  font-size: 48px;
  color: white;
  margin-bottom: 48px;
}
* .services-section .services-container ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
* .services-section .services-container ul li {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0px 80px 16px 80px;
}
* .services-section .services-container ul li h2,
* .services-section .services-container ul li p {
  color: white;
}
* .services-section .services-container ul li .icon-wrapper {
  width: 120px;
  height: 120px;
  margin-bottom: 16px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .callout-section {
  width: 100%;
  padding: 240px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/images/bg-callout.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
* .callout-section .callout-container {
  height: 250px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
* .callout-section .callout-container h1 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 48px;
  width: 400px;
  text-align: center;
}
* .callout-section .callout-container button {
  width: 190px;
  height: 70px;
  padding: 20px 40px;
  color: white;
  background-color: #1d809f;
  border: none;
  border-radius: 5px;
}
* .portfolio-section {
  width: 100%;
  min-height: 110vh;
  padding: 120px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .portfolio-section .portfolio-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0px 48px;
  margin: 0px 290px;
}
* .portfolio-section .portfolio-container h5 {
  color: #ecb807;
  font-size: 16px;
}
* .portfolio-section .portfolio-container h1 {
  margin-bottom: 48px;
  font-size: 48px;
}
* .portfolio-section .portfolio-container .projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0px;
}
* .portfolio-section .portfolio-container .projects .col-6 {
  width: 612px;
  height: 410px;
  margin: 0px;
}
* .portfolio-section .portfolio-container .projects #project1 {
  background-image: url("./assets/images/portfolio-1.jpg");
  background-size: contain;
}
* .portfolio-section .portfolio-container .projects #project2 {
  background-image: url("./assets/images/portfolio-2.jpg");
  background-size: contain;
}
* .portfolio-section .portfolio-container .projects #project3 {
  background-image: url("./assets/images/portfolio-3.jpg");
  background-size: contain;
}
* .portfolio-section .portfolio-container .projects #project4 {
  background-image: url("./assets/images/bg-callout.jpg");
  background-size: contain;
}
* .portfolio-section .portfolio-container .projects .content {
  margin: 250px 80px 80px 80px;
}
* .portfolio-section .portfolio-container .projects .content p {
  font-size: 19px;
}
* .portfolio-section .portfolio-container .projects .content h6 {
  font-size: 13px;
}
* .portfolio-section .portfolio-container .projects .content p,
* .portfolio-section .portfolio-container .projects .content h6 {
  color: white;
}
* .buttons-section {
  width: 100%;
  min-height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1d809f;
  text-align: center;
  padding: 115px 0px;
}
* .buttons-section .buttons-container h1 {
  color: white;
  font-size: 32px;
  margin-bottom: 30px;
}
* .buttons-section .buttons-container button {
  height: 65px;
  padding: 20px 40px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}
* .buttons-section .buttons-container .white-btn {
  width: 140px;
  background-color: white;
  color: black;
  margin-right: 24px;
}
* .buttons-section .buttons-container .dark-btn {
  width: 160px;
  background-color: #212529;
  color: white;
}
* .map-section {
  width: 100%;
  height: 480px;
  border: none;
}
* .map-section iframe {
  width: 100%;
  height: 100%;
}
* .footer-section {
  width: 100%;
  min-height: 110px;
  padding: 80px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
* .footer-section .footer-container .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 48px;
}
* .footer-section .footer-container .icons .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 64px;
  height: 64px;
  border: none;
  border-radius: 50%;
  background-color: #1d809f;
  margin-right: 8px;
}
* .footer-section .footer-container p {
  color: #6c757d;
}
* .menu-bar {
  width: 50px;
  height: 50px;
  position: fixed;
  top: 15px;
  right: 15px;
  border: none;
}
* .menu-bar button {
  border: none;
  border-radius: 5px;
  background-color: rgba(153, 156, 159, 0.7764705882);
  opacity: 1;
  padding: 10px;
}

.up-button-section .up-button {
  background-color: rgba(153, 156, 159, 0.7764705882);
  opacity: 1;
  position: sticky;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 5px;
}/*# sourceMappingURL=index.css.map */