* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;

  .hero-section {
    width: 100%;
    height: 100vh;
    background-image: url("./assets/images/bg-masthead.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

    .hero-container {
      min-height: 300px;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;

      h1 {
        font-size: 5.5rem;
        margin-bottom: 4px;
      }
      h3 {
        font-size: 1.75rem;
        margin-bottom: 48px;
      }
      button {
        width: 180px;
        height: 70px;
        padding: 20px 40px;
        background-color: #1d809f;
        color: white;
        border: none;
        border-radius: 5px;
      }
    }
  }

  .info-section {
    width: 100%;
    min-height: 200px;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .info-container {
      margin: 0px 44px;
      text-align: center;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      h2 {
        font-size: 32px;
        margin-bottom: 8px;
      }
      p {
        font-size: 1.25rem;
        font-weight: 300;
        margin-bottom: 48px;
        span {
          text-decoration: underline #1d809f;
        }
      }
      button {
        width: 180px;
        height: 70px;
        padding: 20px 40px;
        color: white;
        background-color: black;
        border: none;
        border-radius: 5px;
      }
    }
  }

  .services-section {
    width: 100%;
    min-height: 200px;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d809f;

    .services-container {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      h4 {
        font-size: 16px;
        color: #ecb807;
      }
      h1 {
        font-size: 48px;
        color: white;
        margin-bottom: 48px;
      }
      ul {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        // gap: 150px;
        li {
          display: flex;
          flex-direction: column;
          list-style: none;
          margin: 0px 80px 16px 80px;
          h2,
          p {
            color: white;
          }
          .icon-wrapper {
            width: 120px;
            height: 120px;
            margin-bottom: 16px;
            background-color: white;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .callout-section {
    width: 100%;
    // min-height: 200px;
    padding: 240px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./assets/images/bg-callout.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    .callout-container {
      //   margin: 240px 0px;
      height: 250px;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      h1 {
        font-size: 3.5rem;
        font-weight: 700;
        margin-bottom: 48px;
        width: 400px;
        text-align: center;
      }

      button {
        width: 190px;
        height: 70px;
        padding: 20px 40px;
        color: white;
        background-color: #1d809f;
        border: none;
        border-radius: 5px;
      }
    }
  }

  .portfolio-section {
    width: 100%;
    min-height: 110vh;
    padding: 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .portfolio-container {
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      padding: 0px 48px;
      margin: 0px 290px;
      h5 {
        color: #ecb807;
        font-size: 16px;
      }
      h1 {
        margin-bottom: 48px;
        font-size: 48px;
      }
      .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 0px;
        .col-6 {
          width: 612px;
          height: 410px;
          margin: 0px;
        }
        #project1 {
          background-image: url("./assets/images/portfolio-1.jpg");
          background-size: contain;
        }
        #project2 {
          background-image: url("./assets/images/portfolio-2.jpg");
          background-size: contain;
        }
        #project3 {
          background-image: url("./assets/images/portfolio-3.jpg");
          background-size: contain;
        }
        #project4 {
          background-image: url("./assets/images/bg-callout.jpg");
          background-size: contain;
        }
        .content {
          margin: 250px 80px 80px 80px;
          p {
            font-size: 19px;
          }
          h6 {
            font-size: 13px;
          }
          p,
          h6 {
            color: white;
          }
        }
      }
    }
  }

  .buttons-section {
    width: 100%;
    min-height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d809f;
    text-align: center;
    padding: 115px 0px;
    .buttons-container {
      h1 {
        color: white;
        font-size: 32px;
        margin-bottom: 30px;
      }
      button {
        height: 65px;
        padding: 20px 40px;
        border: none;
        border-radius: 5px;
        font-size: 14px;
      }
      .white-btn {
        width: 140px;
        background-color: white;
        color: black;
        margin-right: 24px;
      }
      .dark-btn {
        width: 160px;
        background-color: #212529;
        color: white;
      }
    }
  }

  .map-section {
    width: 100%;
    height: 480px;
    border: none;
    iframe {
      width: 100%;
      height: 100%;
    }
  }

  .footer-section {
    width: 100%;
    min-height: 110px;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    .footer-container {
      .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 48px;
        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 64px;
          height: 64px;
          border: none;
          border-radius: 50%;
          background-color: #1d809f;
          margin-right: 8px;
        }
      }
      p {
        color: #6c757d;
      }
    }
  }

  .menu-bar {
    width: 50px;
    height: 50px;

    position: fixed;
    top: 15px;
    right: 15px;
    border: none;

    button {
      border: none;
      border-radius: 5px;
      background-color: #999c9fc6;
      opacity: 1;
      padding: 10px;
    }
  }
}

.up-button-section {
  .up-button {
    background-color: #999c9fc6;
    opacity: 1;
    position: sticky;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 5px;
  }
}
